<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RerserVA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ReserVAEntities" connectionString="metadata=res://*/ReserVAModel.csdl|res://*/ReserVAModel.ssdl|res://*/ReserVAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-3E06UJV;initial catalog=ReserVA;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <applicationSettings>
    <RerserVA.Properties.Settings>
      <setting name="ColorPrimario" serializeAs="String">
        <value>155, 0, 70</value>
      </setting>
      <setting name="ColorPrimarioOscuro" serializeAs="String">
        <value>78, 16, 54</value>
      </setting>
      <setting name="ColorVentana" serializeAs="String">
        <value>45, 45, 45</value>
      </setting>
      <setting name="ColorVentanaHover" serializeAs="String">
        <value>90, 90, 90</value>
      </setting>
    </RerserVA.Properties.Settings>
  </applicationSettings>
</configuration>